<template>
  <div class="container">
    <div>
      <h1 class="text-3xl mb-4 leading-tight text-gray-400 truncate">
        {{ fullUrl.replace(baseUrl, '') === '/' ? baseUrl : fullUrl.replace(baseUrl, '') }}
      </h1>

      <div class="bg-gray-700 rounded-2xl mb-3 px-4 py-2 text-gray-200 text-lg shadow-xl">
        <h2 class="text-lg text-gray-200 font-bold">
          {{ $fetchState.pending ? 'Generating report...' : 'Report generated:' }} {{ date }}
        </h2>
        <p class="text-base text-blue-500 sm:flex items-center justify-between">
          <a :href="`https://developers.google.com/speed/pagespeed/insights/?url=${encodeURI(fullUrl)}`" rel="nofollow noopener" target="_blank" class="flex items-center">
            View PageSpeed Insights Report
            <svg class="h-4 w-4 ml-2" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 6H6a2 2 0 00-2 2v10a2 2 0 002 2h10a2 2 0 002-2v-4M14 4h6m0 0v6m0-6L10 14" />
            </svg>
          </a>

          <a :href="fullUrl" target="_blank" :title="`Visit: ${fullUrl}`" class="flex items-center">
            View Live Page
            <svg class="h-4 w-4 ml-2" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 6H6a2 2 0 00-2 2v10a2 2 0 002 2h10a2 2 0 002-2v-4M14 4h6m0 0v6m0-6L10 14" />
            </svg>
          </a>
        </p>
      </div>

      <template v-if="friendlyMetrics">
        <template v-if="originFallback">
          <p class="mb-3 text-red-200 text-sm bg-red-700 opacity-75 p-2 px-4 rounded-2xl inline-block shadow-md">
            The Chrome User Experience Report does not have sufficient real-world speed data for this page.
          </p>
          <div class="bg-gray-700 flex items-center rounded-2xl mb-6 px-4 py-2 text-gray-200 text-lg shadow-xl">
            <h3 class="flex-1 font-normal">
              Lighthouse Mobile Speed Score: <span
                class="font-bold capitalize"
                :class="{
                  'text-red-600': lightHouseScore <= 49,
                  'text-yellow-600': lightHouseScore <= 89 && lightHouseScore >= 50,
                  'text-green-600': lightHouseScore >= 90
                }"
              >
                {{ lightHouseScore.toFixed(0) }}
              </span>
            </h3>
          </div>
        </template>

        <template v-else>
          <div class="bg-gray-700 flex items-center rounded-2xl mb-6 px-4 py-2 text-gray-200 text-lg shadow-xl">
            <h3 class="flex-1 font-normal">RUM speed score: <span
              class="font-bold capitalize"
              :class="{
                'text-red-600': scoreCategory === 'SLOW',
                'text-yellow-600': scoreCategory === 'AVERAGE',
                'text-green-600': scoreCategory === 'FAST'
              }"
            >
              {{ scoreCategory.toLowerCase() }}
            </span>
            </h3>

            <h3 class="flex-1 font-normal">
              Lighthouse Mobile Speed Score: <span
                class="font-bold capitalize"
                :class="{
                  'text-red-600': lightHouseScore <= 49,
                  'text-yellow-600': lightHouseScore <= 89 && lightHouseScore >= 50,
                  'text-green-600': lightHouseScore >= 90
                }"
              >{{ lightHouseScore.toFixed(0) }}</span>
            </h3>
          </div>
        </template>

        <p class="mb-6 text-gray-500 text-md">
          Field data for <span class="font-medium">this {{ originFallback ? 'origin': 'page' }}</span> over the previous 28-day collection period:
        </p>

        <div class="grid gap-4 md:grid-cols-2 xl:grid-cols-4">
          <template v-for="metric in friendlyMetrics">
            <speed-metric-card :key="metric.name" :metric="metric" :class="{ 'opacity-50': originFallback }"/>
          </template>
        </div>
      </template>

      <div class="bg-gray-200 rounded-2xl mt-8 mb-16 px-4 py-3 shadow-xl">
        <h3 v-if="!historicData || $fetchState.pending" class="text-xl text-gray-500">Loading historic report...</h3>
        <h3 v-else class="text-xl">Historical Scores:</h3>
        <client-only placeholder="Loading...">
          <!-- this component will only be rendered on client-side -->
          <Chart v-if="historicScores && !$fetchState.pending" class="mt-6" :height="320" :chartdata="historicScores" :options="chartOptions" />
        </client-only>
      </div>
    </div>
  </div>
</template>

<script>
import dayjs from 'dayjs'
import customParseFormat from 'dayjs/plugin/customParseFormat'
import isSameOrBefore from 'dayjs/plugin/isSameOrBefore'

import pageSpeedAPI from '@/services/pageSpeedApi'
import { writeFirestore, fireStoreDocName, readFirestoreToday, readFirestoreAll } from '@/services/fireStoreApi'
import { createHistoricChartData } from '@/services/charts'

dayjs.extend(customParseFormat)
dayjs.extend(isSameOrBefore)

export default {
  async asyncData ({ params, $config, $fire }) {
    // handle deep slugs
    const { slug, subSlug } = params
    const pageSlug = slug ? `${slug}/` : ''
    const pageSubSlug = subSlug ? `${subSlug}/` : ''

    // create URL for report
    const baseUrl = 'https://www.oceanfinance.co.uk'
    const pageUrl = `${pageSlug}${pageSubSlug}`
    let fullUrl = `${baseUrl}/${pageUrl}`
 
    console.log('fullUrl', fullUrl)
    // get date for today and format
    const date = dayjs().format('DD-MM-YYYY')

    // formate firestore document name
    const fireDocName = fireStoreDocName(fullUrl)
    // get firestore document (data)
    const fireStoreReport = await readFirestoreToday($fire, fireDocName, date)

    let report = {
      metrics: null,
      originFallback: null,
      scoreCategory: null,
      lightHouseScore: null
    }
    let hasReport = false

    if (fireStoreReport) {
      hasReport = true
      console.log(`${fullUrl}: report found in firestore`)
      // set page report to data from firestore
      report = fireStoreReport
    } else {      
      if (!process.client) {
        console.log(`${fullUrl}: report not found in firestore, calling api`)
        // call the page speed API only on server
        report = await pageSpeedAPI($config.PAGESPEED_API_KEY, fullUrl)

        try {
          // update firestore only when build is ran on server
          await writeFirestore($fire, fireDocName, date, { ...report })
        } catch (e) {
          console.log(e)
        }
      }
    }

    return { baseUrl, fullUrl, pageUrl, fireDocName, date, ...report, hasReport }
  },
  data () {
    return {
      historicData: null,
      historicScores: null
    }
  },
  async fetch () {
    if (process.client && !this.hasReport) {
      // call the page speed API only on server
      const { metrics, originFallback, scoreCategory, lightHouseScore } = await pageSpeedAPI(this.$config.PAGESPEED_API_KEY, this.fullUrl)

      this.metrics = metrics
      this.originFallback = originFallback
      this.scoreCategory = scoreCategory
      this.lightHouseScore = lightHouseScore
    }

    this.historicData = await readFirestoreAll(this.$fire, this.fireDocName)
    this.soryByDate(this.historicData)
    this.historicScores = createHistoricChartData(this.historicData, !this.originFallback)
  },
  computed: {
    friendlyMetrics () {
      if (this.metrics) {
        const friendlyMetrics = []
        Object.keys(this.metrics).forEach((key) => {
          friendlyMetrics.push({
            name: key.replace(/_/g, ' ').replace('MS', '').toLowerCase(),
            metrics: this.metrics[key].distributions,
            score: this.formatScore(this.metrics[key].percentile, key),
            scoreCategory: this.metrics[key].category
          })
        })

        return friendlyMetrics.sort(function (a, b) {
          const nameA = a.name.toUpperCase()
          const nameB = b.name.toUpperCase()
          if (nameA < nameB) {
            return -1
          }
          if (nameA > nameB) {
            return 1
          }
          return 0
        })
      } else {
        return null
      }
    },
    annotations () {
      if (!this.originFallback) {
        return {
          annotations: [
            {
              type: 'line',
              mode: 'horizontal',
              scaleID: 'timeScores300ms',
              value: 0.1,
              borderColor: '#63b3ed',
              borderWidth: 2,
              label: {
                backgroundColor: '#63b3ed',
                enabled: true,
                content: 'First Input Delay',
                xPadding: 6,
                yPadding: 4,
                font: {
                  size: 10,
                  color: '#000'
                },
                color: '#000'
              }
            },
            {
              type: 'line',
              mode: 'horizontal',
              scaleID: 'timeScores',
              value: 2.3,
              borderColor: '#68d391',
              borderWidth: 2,
              label: {
                backgroundColor: '#68d391',
                enabled: true,
                content: 'First Contentful Paint',
                xPadding: 6,
                yPadding: 4,
                font: {
                  size: 10
                }
              }
            },
            {
              type: 'line',
              mode: 'horizontal',
              scaleID: 'timeScores',
              value: 2.5,
              borderColor: '#f6e05e',
              borderWidth: 2,
              label: {
                backgroundColor: '#f6e05e',
                enabled: true,
                content: 'Largest Contentful Paint',
                xPadding: 6,
                yPadding: 4,
                font: {
                  size: 10
                }
              }
            },
            {
              type: 'line',
              mode: 'horizontal',
              scaleID: 'metricScore',
              value: 0.1,
              borderColor: '#feb2b2',
              borderWidth: 2,
              label: {
                backgroundColor: '#feb2b2',
                content: 'Cumulative Layout Shift Score',
                enabled: true,
                xPadding: 6,
                yPadding: 4,
                font: {
                  size: 10
                }
              }
            }
          ]
        }
      } else {
        return null
      }
    },
    chartOptions () {
      return {
        responsive: true,
        maintainAspectRatio: false,
        legend: {
          display: false
        },
        scales: {
          yAxes: [
            {
              id: 'lighthouseScore',
              type: 'linear',
              ticks: {
                min: 10,
                max: 100
              }
            },
            {
              id: 'metricScore',
              type: 'linear',
              display: false,
              gridLines: {
                display: false
              },
              ticks: {
                beginAtZero: true,
                min: 0,
                max: 0.6
              }
            },
            {
              id: 'timeScores',
              type: 'linear',
              position: 'right',
              gridLines: {
                display: false
              },
              ticks: {
                beginAtZero: true,
                min: 0,
                max: 2.75
              }
            },
            {
              id: 'timeScores300ms',
              type: 'linear',
              position: 'right',
              display: false,
              gridLines: {
                display: false
              },
              ticks: {
                beginAtZero: true,
                min: 0,
                max: 0.4
              }
            }
          ]
        },
        annotation: {
          ...this.annotations
        }
      }
    }
  },
  methods: {
    soryByDate (array) {
      return array.sort(function (a, b) {
        const aFormatted = dayjs(a.date, 'DD-MM-YYYY')
        const bFormatted = dayjs(b.date, 'DD-MM-YYYY')
        // Turn your strings into dates, and then subtract them
        // to get a value that is either negative, positive, or zero.
        return dayjs(bFormatted).isSameOrBefore(dayjs(aFormatted)) ? 1 : -1
      })
    },
    formatScore (score, name) {
      if (name.includes('MS')) {
        const msToSeconds = (score / 1000).toFixed(2)
        return `${msToSeconds}s`
      } else {
        return score / 100
      }
    },
    friendlyFormat (metrics) {
      const friendlyFormat = []
      Object.keys(metrics).forEach((key) => {
        friendlyFormat.push({
          name: key.replace(/_/g, ' ').replace('MS', '').toLowerCase(),
          metrics: metrics[key].distributions,
          score: this.formatScore(metrics[key].percentile, key),
          scoreCategory: metrics[key].category
        })
      })

      return friendlyFormat
    }
  }
}
</script>

<style lang="postcss" scoped>
.tooltip .tooltip-text {
  @apply invisible p-2 absolute  z-50 inline-block ml-4 text-sm rounded-lg bg-gray-700 text-white;
}

.tooltip:hover .tooltip-text {
  @apply visible;
}
</style>
