<template>
  <div class="w-full text-gray-300 bg-gray-900 mb-4">
    <div class="container flex flex-col max-w-screen-xl mx-auto md:items-center md:justify-between md:flex-row">
      <div class="flex flex-row items-center justify-between">
        <Logo />
        <button class="md:hidden rounded-lg focus:outline-none focus:shadow-outline" @click="openMobile = !openMobile">
          <svg fill="currentColor" viewBox="0 0 20 20" class="w-6 h-6">
            <path v-show="!openMobile" fill-rule="evenodd" d="M3 5a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM3 10a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zM9 15a1 1 0 011-1h6a1 1 0 110 2h-6a1 1 0 01-1-1z" clip-rule="evenodd"></path>
            <path v-show="openMobile" fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path>
          </svg>
        </button>
      </div>
      <nav :class="{'flex': openMobile, 'hidden': !openMobile}" class="flex-col flex-grow md:flex md:justify-end md:flex-row">
        <nuxt-link to="/" class="px-4 py-2 text-sm font-semibold rounded-lg hover:bg-gray-200 focus:bg-gray-200 focus:outline-none focus:shadow-outline">Home</nuxt-link>
        <div class="relative">
          <button class="dropdown flex flex-row items-center w-full px-4 py-2 mt-2 text-sm font-semibold text-left bg-transparent rounded-lg md:w-auto md:inline md:mt-0 md:ml-4 hover:bg-gray-800 focus:bg-gray-800 focus:outline-none focus:shadow-outline">
            <span>Speed Reports</span>
            <svg fill="currentColor" viewBox="0 0 20 20" class="inline w-4 h-4 mt-1 ml-1 transition-transform duration-200 transform md:-mt-1"><path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
          </button>
          <div class="dropdown--sub absolute origin-top-right right-0">
            <div class="w-full rounded-md shadow-lg md:w-56 mt-2">
              <div class="px-2 py-2 bg-gray-700 rounded-md shadow flex flex-wrap">
                <nuxt-link to="/speed/">Homepage</nuxt-link>
                <nuxt-link to="/speed/credit-cards/">Credit Cards</nuxt-link>
                <nuxt-link to="/speed/credit-cards/bad-credit/">Bad Credit Credit Cards</nuxt-link>

                <nuxt-link to="/speed/loans/personal-loans/">Personal Loans</nuxt-link>
                <nuxt-link to="/speed/loans/bad-credit/">Bad Credit Loans</nuxt-link>
                <nuxt-link to="/speed/loans/adverse-credit/">Adverse Credit Loans</nuxt-link>
                <nuxt-link to="/speed/loans/debt-consolidation/">Debt Consolidation Loans</nuxt-link>

                <nuxt-link to="/speed/loans/secured-loans/">Secured Loans</nuxt-link>
                <nuxt-link to="/speed/loans/homeowner-loans/">Homeowner Loans</nuxt-link>
                
                <nuxt-link to="/speed/loans/car-finance/">Car Finance</nuxt-link>

                <nuxt-link to="/speed/online-current-account/">Thinkmoney Current Account</nuxt-link>

                <nuxt-link to="/speed/blog/">Blog</nuxt-link>
                <nuxt-link to="/speed/blog/how-does-your-credit-score-compare-to-the-uk-average/">Blog Article</nuxt-link>
                <nuxt-link to="/speed/blog/what-happens-after-my-mortgage-offer-is-issued/">Blog Article 2</nuxt-link>

                <nuxt-link to="/speed/credit-card-form">Credit Card Form</nuxt-link>

                <nuxt-link to="/speed/landing/cc-consideration-amp/">Landing: CC Consideration</nuxt-link>

                <nuxt-link to="/speed/about-us/contact-us/">Contact Us</nuxt-link>
              </div>
            </div>
          </div>
        </div>    
      </nav>
    </div>
  </div>
</template>

<script>
export default {
  data () {
    return {
      openMobile: false
    }
  },
  watch: {
    $route: function () {
      this.openMobile = false
    }
  }
}
</script>

<style lang="postcss" scoped>
.NuxtLogo {
  width: 40px;
  height: 40px;
  margin: 0;
}

nav .dropdown--sub a {
  @apply w-full px-4 py-2 text-sm text-gray-300 rounded-lg;
}

nav .dropdown--sub a:hover,
nav .dropdown--sub a:focus {
  @apply bg-gray-800;
}

nav .dropdown--sub a:focus {
  @apply outline-none shadow-outline;
}

.dropdown + .dropdown--sub {
  visibility: hidden;
  z-index: 1;
}

.dropdown + .dropdown--sub:hover {
  visibility: visible;
}

.dropdown:hover + .dropdown--sub,
.dropdown:focus + .dropdown--sub {
  visibility: visible;
}

.dropdown svg {
  @apply rotate-0;
}

.dropdown:hover svg,
.dropdown:focus svg {
  @apply rotate-180;
}
</style>
