<template>
  <div class="text-left bg-gray-900 rounded-2xl overflow-hidden shadow-xl">
    <h2 class="text-xl text-gray-300 tracking-tight font-light capitalize mx-4 mt-2">
      <span>{{ metric.name }}</span>
      
    </h2>

    <h3 class="text-lg text-gray-300 font-bold mx-4 mb-2 tracking-tight flex justify-between items-end">
      <span>
        Score: 
        <span class="font-medium capitalize" :class="{ 
          'text-red-700': metric.scoreCategory === 'SLOW',
          'text-yellow-700': metric.scoreCategory === 'AVERAGE',
          'text-green-700': metric.scoreCategory === 'FAST'
        }">{{ metric.scoreCategory.toLowerCase() }}</span>
      </span>

      <span class="text-lg font-medium" :class="{ 
          'text-red-700': metric.scoreCategory === 'SLOW',
          'text-yellow-700': metric.scoreCategory === 'AVERAGE',
          'text-green-700': metric.scoreCategory === 'FAST'
        }">{{ metric.score }}</span>
    </h3>

    <div class="flex">
      <div class="flex-grow flex items-center justify-center truncate bg-green-600 h-10" :style="`flex-basis: ${metric.metrics[0].proportion * 100}%`">
        {{ metric.metrics[0].proportion * 100 > 10 ? `${(metric.metrics[0].proportion * 100).toFixed(0)}%` : '' }}
      </div>
      <div class="flex-none flex items-center justify-center truncate bg-yellow-600 h-10" :style="`flex-basis: ${metric.metrics[1].proportion * 100}%`">
        {{ metric.metrics[1].proportion * 100 > 10 ? `${(metric.metrics[1].proportion * 100).toFixed(0)}%` : '' }}
      </div>
      <div class="flex-none flex items-center justify-center truncate bg-red-600 h-10" :style="`flex-basis: ${metric.metrics[2].proportion * 100}%`">
        {{ metric.metrics[2].proportion * 100 > 10 ? `${(metric.metrics[2].proportion * 100).toFixed(0)}%` : '' }}
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    metric: {
      type: Object,
      require: true
    }
  }
}
</script>