<template>
  <div class="container">
    <div>
      <h1 class="title">
        Speed Report
      </h1>

      
      <!--
      <template v-if="$fetchState.pending === false">
        <div class="bg-gray-800 flex items-center rounded-2xl mb-6 px-4 py-2 text-gray-100 text-lg">
          <h3 class="flex-1 font-normal">RUM speed score: <span class="font-bold capitalize" :class="{ 
              'text-red-600': scoreCategory === 'SLOW',
              'text-yellow-600': scoreCategory === 'AVERAGE',
              'text-green-600': scoreCategory === 'FAST'
            }">{{ scoreCategory.toLowerCase() }}</span>
          </h3>

          <h3 class="flex-1 font-normal">Lighthouse speed score: <span class="font-bold capitalize" :class="{ 
              'text-red-600': lightHouseScore <= 49,
              'text-yellow-600': lightHouseScore <= 89 && lightHouseScore >= 50,
              'text-green-600': lightHouseScore >= 90
            }">{{ lightHouseScore }}</span>
          </h3>
        </div>

        <template v-for="metric in metrics">
          <div :key="metric.name" class="mb-6 text-left bg-gray-200 rounded-2xl overflow-hidden">
            <h2 class="text-2xl font-light capitalize mx-4 mt-2">
              {{ metric.name }} {{ metric.score }}
            </h2>

            <h3 class="text-lg font-medium mx-4 mb-2">Score: <span class="font-bold capitalize" :class="{ 
                'text-red-700': metric.scoreCategory === 'SLOW',
                'text-yellow-700': metric.scoreCategory === 'AVERAGE',
                'text-green-700': metric.scoreCategory === 'FAST'
              }">{{ metric.scoreCategory.toLowerCase() }}</span>
            </h3>
    
            <div class="flex">
              <div class="flex-none flex items-center justify-center truncate bg-green-500 h-8" :style="`flex-basis: ${metric.metrics[0].proportion * 100}%`">
                {{ metric.metrics[0].proportion * 100 > 5 ? `${(metric.metrics[0].proportion * 100).toFixed(0)}%` : '' }}
              </div>
              <div class="flex-none flex items-center justify-center truncate bg-yellow-500 h-8" :style="`flex-basis: ${metric.metrics[1].proportion * 100}%`">
                {{ metric.metrics[1].proportion * 100 > 5 ? `${(metric.metrics[1].proportion * 100).toFixed(0)}%` : '' }}
              </div>
              <div class="flex-none flex items-center justify-center truncate bg-red-500 h-8" :style="`flex-basis: ${metric.metrics[2].proportion * 100}%`">
                {{ metric.metrics[2].proportion * 100 > 5 ? `${(metric.metrics[2].proportion * 100).toFixed(0)}%` : '' }}
              </div>
            </div>
          </div>
        </template>
      </template>-->
    </div>
  </div>
</template>

<script>
export default {
  /*
  data () {
    return {
      metrics: null,
      scoreCategory: null,
      lightHouseScore: null
    }
  },
  activated () {
    // Call fetch again if last fetch more than 30 sec ago
    if (this.$fetchState.timestamp <= Date.now() - 60000) {
      console.log('get data from API')
      this.$fetch()
    } else {
      console.log('data cached', this.$fetchState)
    }
  },
  async fetch () {
    const key = 'AIzaSyDbaB8I2lZ6YiKE7zTaUK0DEkC6XR7kFWE'
    const { loadingExperience, lighthouseResult } = await fetch(`https://www.googleapis.com/pagespeedonline/v5/runPagespeed?key=${key}&url=https://www.oceanfinance.co.uk/&category=performance&strategy=mobile`).then(res => res.json())
    this.metrics = this.friendlyFormat(loadingExperience.metrics)
    this.scoreCategory = loadingExperience.overall_category
    this.lightHouseScore = lighthouseResult.categories.performance.score * 100
  },
  methods: {
    formatScore (score, name) {
      if (name.includes('MS')) {
        const msToSeconds = (score / 1000).toFixed(2)
        return `${msToSeconds}s`
      } else {
        return score / 100
      }
    },
    friendlyFormat (metrics) {
      const friendlyFormat = []
      Object.keys(metrics).forEach((key) => {
        friendlyFormat.push({
          name: key.replace(/_/g, " ").replace("MS", "").toLowerCase(),
          metrics: metrics[key].distributions,
          score: this.formatScore(metrics[key].percentile, key),
          scoreCategory: metrics[key].category
        })
      })

      return friendlyFormat
    }
  }
  */
}
</script>

